In [5]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import json
from pathlib import Path
import alpaca_trade_api as tradeapi
import requests
import os 
from dotenv import load_dotenv

%matplotlib inline

In [6]:
load_dotenv()

alpaca_api_key = os.getenv("Api_key")
alpaca_secret_key = os.getenv("Secret_Key")

api = tradeapi.REST(alpaca_api_key, alpaca_secret_key, api_version='v2')


type(alpaca_api_key)

str

In [7]:
xle_df = api.alpha_vantage.historic_quotes('XLE', adjusted=True, output_format='pandas')

xlf_df = api.alpha_vantage.historic_quotes('XLF', adjusted=True, output_format='pandas')

ive_df = api.alpha_vantage.historic_quotes('IVE', adjusted=True, output_format='pandas')
ive_df.tail()

xlb_df = api.alpha_vantage.historic_quotes('XLB', adjusted=True, output_format='pandas')
xlb_df.head()

xlk_df = api.alpha_vantage.historic_quotes('XLK', adjusted=True, output_format='pandas')
# xlk_df.tail()

rwr_df = api.alpha_vantage.historic_quotes('RWR', adjusted=True, output_format='pandas')
#rwr_df.head()


spy_df = api.alpha_vantage.historic_quotes('SPY', adjusted=True, output_format='pandas')

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2020-05-01,50.98,51.20,50.32,50.79,50.79,5066978.0,0.0,1.0
2020-04-30,52.63,52.63,51.80,51.88,51.88,5387264.0,0.0,1.0
2020-04-29,53.22,53.74,53.00,53.47,53.47,5876118.0,0.0,1.0
2020-04-28,52.03,52.45,51.50,52.14,52.14,6751936.0,0.0,1.0
2020-04-27,50.01,51.38,49.94,51.19,51.19,4861081.0,0.0,1.0