In [9]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import json
from pathlib import Path
import alpaca_trade_api as tradeapi
import requests
import os 
from dotenv import load_dotenv

%matplotlib inline

In [11]:
load_dotenv()

alpaca_api_key = os.getenv("Api_key")
alpaca_secret_key = os.getenv("Secret_key")

api = tradeapi.REST(alpaca_api_key, alpaca_secret_key, api_version='v2')


type(alpaca_api_key)

str

In [12]:
xle_df = api.alpha_vantage.historic_quotes('XLE', adjusted=True, output_format='pandas')

xlf_df = api.alpha_vantage.historic_quotes('XLF', adjusted=True, output_format='pandas')

ive_df = api.alpha_vantage.historic_quotes('IVE', adjusted=True, output_format='pandas')
ive_df.tail()

xlb_df = api.alpha_vantage.historic_quotes('XLB', adjusted=True, output_format='pandas')
xlb_df.head()

xlk_df = api.alpha_vantage.historic_quotes('XLK', adjusted=True, output_format='pandas')
# xlk_df.tail()

In [14]:
rwr_df = api.alpha_vantage.historic_quotes('RWR', adjusted=True, output_format='pandas')
rwr_df.head()


spy_df = api.alpha_vantage.historic_quotes('SPY', adjusted=True, output_format='pandas')

In [15]:
xly_df = api.alpha_vantage.historic_quotes('XLY', adjusted=True, output_format='pandas')
xly_df.head()

xlp_df = api.alpha_vantage.historic_quotes('XLP', adjusted=True, output_format='pandas')
xlp_df.tail()

ivw_df = api.alpha_vantage.historic_quotes('IVW', adjusted=True, output_format='pandas')
ivw_df.head()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2020-05-01,184.99,186.385,183.08,183.70,183.70,526756.0,0.0,1.0
2020-04-30,188.80,189.410,187.13,188.57,188.57,1337886.0,0.0,1.0
2020-04-29,187.20,189.955,186.41,188.89,188.89,1182129.0,0.0,1.0
2020-04-28,187.49,187.524,182.97,183.09,183.09,1151132.0,0.0,1.0
2020-04-27,184.97,186.000,184.67,185.34,185.34,695039.0,0.0,1.0