In [1]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import json
from pathlib import Path
import alpaca_trade_api as tradeapi
import requests
import os 
from dotenv import load_dotenv

%matplotlib inline

In [2]:
load_dotenv()

alpaca_api_key = os.getenv("Api_key")
alpaca_secret_key = os.getenv("Secret_Key")

api = tradeapi.REST(alpaca_api_key, alpaca_secret_key, api_version='v2')


type(alpaca_api_key)

str

In [3]:
xle_df = api.alpha_vantage.historic_quotes('XLE', adjusted=True, output_format='pandas')


xlf_df = api.alpha_vantage.historic_quotes('XLF', adjusted=True, output_format='pandas')

ive_df = api.alpha_vantage.historic_quotes('IVE', adjusted=True, output_format='pandas')
ive_df.tail()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2000-06-02,62.47,62.59,62.28,62.28,39.9311,10000.0,0.0,1.0
2000-06-01,60.78,61.42,60.69,61.42,39.3797,25400.0,0.0,1.0
2000-05-31,60.19,60.80,60.19,60.50,38.7899,12200.0,0.0,1.0
2000-05-30,59.91,60.22,59.91,60.22,38.6104,1800.0,0.0,1.0
2000-05-26,59.61,59.61,59.31,59.31,38.0269,2900.0,0.0,1.0